﻿@model IEnumerable<DBI.Safety.Models.FLHALog>

@{
    ViewData["Title"] = "History";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-action="History">
            <div class="row" style="margin:1px; margin-bottom:15px;">
                <div class="input-group">
                    <input type="text" id="query" placeholder="Search by location or work info" name="query" class="form-control" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </div>
        </form>
        <div class="row">
            @foreach (var createdDate in Model.Select(x => x.CreatedDate.DateTime.ToShortDateString()).Distinct())
            {
                <div class="col-md-4">
                    <div class="caption">Created on @Html.DisplayName(createdDate)</div>
                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.Where(x => x.CreatedDate.DateTime.ToShortDateString() == createdDate))
                            {
                                <tr>
                                    <td>
                                        <strong>@item.CreatedBy</strong> <br />
                                        <span>@Html.DisplayName(item.Location)</span> <br />
                                        <span><a asp-action="LogCard" asp-route-id="@item.Id">View Card</a></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>