﻿@model DBI.Safety.Models.FLHAStep1Form

@{
    ViewData["Title"] = "Field Level Hazard Assessment";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row" style="margin-bottom:40px;">
    <div class="col-md-12">
        @if (Model.IsHazardSelected != null && !(bool)Model.IsHazardSelected)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Please select at least one of the hazard.
            </div>
        }
        <form asp-action="Index">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Check off the hazards that apply to this job. List the items in the hazard column, indicate the priority
                        ranking and identify the plans to eliminate or control on the other side of this form.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-responsive-sm">
                        <caption class="caption">@Html.DisplayName("Environmental Hazards")</caption>
                        <tbody>
                            @for (int i = 0; i < Model.EnvironmentalHazards.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.EnvironmentalHazards[i].Id)
                                        @Html.HiddenFor(m => m.EnvironmentalHazards[i].Name)
                                        @Html.HiddenFor(m => m.EnvironmentalHazards[i].Category)
                                        <div class="checkbox checkbox-primary">
                                            <input asp-for="@Model.EnvironmentalHazards[i].Selected" type="checkbox">
                                            <label asp-for="@Model.EnvironmentalHazards[i].Selected" style="overflow-wrap: break-word;">
                                                @Model.EnvironmentalHazards[i].Name
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-responsive-sm">
                        <caption class="caption">@Html.DisplayName("Ergonomic Hazards")</caption>
                        <tbody>
                            @for (int i = 0; i < Model.ErgonomicHazards.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.ErgonomicHazards[i].Id)
                                        @Html.HiddenFor(m => m.ErgonomicHazards[i].Name)
                                        @Html.HiddenFor(m => m.ErgonomicHazards[i].Category)
                                        <div class="checkbox checkbox-primary">
                                            <input asp-for="@Model.ErgonomicHazards[i].Selected" class="form-check-input" type="checkbox">
                                            <label asp-for="@Model.ErgonomicHazards[i].Selected" class="form-check-label"
                                                   style="overflow-wrap: break-word;">
                                                @Model.ErgonomicHazards[i].Name
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-responsive-sm">
                        <caption class="caption">@Html.DisplayName("Access-Egress/ Operational Hazards")</caption>
                        <tbody>
                            @for (int i = 0; i < Model.AccessAndOperationalHazards.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.AccessAndOperationalHazards[i].Id)
                                        @Html.HiddenFor(m => m.AccessAndOperationalHazards[i].Name)
                                        @Html.HiddenFor(m => m.AccessAndOperationalHazards[i].Category)
                                        <div class="checkbox checkbox-primary">
                                            <input asp-for="@Model.AccessAndOperationalHazards[i].Selected" class="form-check-input" type="checkbox">
                                            <label asp-for="@Model.AccessAndOperationalHazards[i].Selected" class="form-check-label"
                                                   style="overflow-wrap: break-word;">
                                                @Model.AccessAndOperationalHazards[i].Name
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                    <input type="submit" value="Continue to Step 2" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>