﻿@model DBI.Safety.Models.FLHAViewModel

@{
    ViewData["Title"] = "Field level hazard assessment";
}

<div class="container hidden-print">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
                    <h3 class="page-sub-title">@ViewData["Message"]</h3>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.WorkInfo)</strong> <br />
                    @Html.DisplayFor(model => model.WorkInfo)
                </div>
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Location)</strong> <br />
                    @Html.DisplayFor(model => model.Location)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.MusterPoint)</strong> <br />
                    @Html.DisplayFor(model => model.MusterPoint)
                </div>
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.PermitJobNumber)</strong> <br />
                    @Html.DisplayFor(model => model.PermitJobNumber)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.PPEInspected)</strong> <br />
                    @Html.DisplayFor(model => model.PPEInspected)
                </div>
                <div class="form-group col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Identify and Prioritize the tasks and hazards below, then identify the plans to eliminate/control the hazards.</p>
                </div>
            </div>

            @foreach (var title in Model.Hazards.Select(x => x.Title).Distinct())
            {
                <div class="caption">@title</div>

                @for (int i = 0; i < Model.Hazards.Count; i++)
                {
                    @if (Model.Hazards[i].Title == title)
                    {
                        <div class="card" style="border:1px solid #ccc; background-color: #fcfcfc; margin-top: 15px;
                                margin-bottom:15px; padding-left: 15px; padding-right: 15px;">
                            <div class="row">
                                <div class="col-md-12" style="margin-top: -10px;">
                                    <h3>
                                        <small class="text-muted">@Model.Hazards[i].Name</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <strong>@Html.DisplayNameFor(model => model.Hazards[i].Severity)</strong> <br />
                                    @Html.DisplayFor(model => model.Hazards[i].Severity) -
                                    <span class="text-muted">@Html.DisplayFor(model => model.Hazards[i].SeverityDesc)</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <strong>@Html.DisplayNameFor(model => model.Hazards[i].Probability)</strong> <br />
                                    @Html.DisplayFor(model => model.Hazards[i].Probability) -
                                    <span class="text-muted">@Html.DisplayFor(model => model.Hazards[i].ProbabilityDesc)</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <strong>@Html.DisplayNameFor(model => model.Hazards[i].Priority)</strong> <br />
                                    @Html.DisplayFor(model => model.Hazards[i].Priority)
                                </div>
                                <div class="form-group col-md-6">
                                    <strong>@Html.DisplayNameFor(model => model.Hazards[i].Plans)</strong> <br />
                                    @Html.DisplayFor(model => model.Hazards[i].Plans)
                                </div>
                            </div>
                        </div>
                    }
                }
            }

            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.IsToolsEquipmentCompleted)</strong> <br />
                    @if (Model.IsToolsEquipmentCompleted)
                    {
                        <text>Yes</text>;
                    }
                    else
                    {
                        <text>No</text>;
                    }
                </div>
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.IsWarningRibbonNeeded)</strong> <br />
                    @if (Model.IsWarningRibbonNeeded)
                    {
                        <text>Yes</text>;
                    }
                    else
                    {
                        <text>No</text>;
                    }
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.IsWorkerWorkingAlone)</strong> <br />
                    @if (Model.IsWorkerWorkingAlone)
                    {
                        <text>Yes</text>;
                    }
                    else
                    {
                        <text>No</text>;
                    }
                </div>
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.WorkerComment)</strong> <br />
                    @Html.DisplayFor(model => model.WorkerComment)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.CreatedBy)</strong> <br />
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.CreatedDate)</strong> <br />
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <a asp-action="History">Back to List</a>
        </div>
    </div>
</div>

@* Printer friendly page *@
<div class="container visible-print-block">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-4">
                    <img width="114" height="71" src="~/images/logo.jpg" />
                </div>
                <div class="col-xs-8" style="text-align: right;"><h2>@ViewData["Title"]</h2></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <strong>@Html.DisplayNameFor(model => model.WorkInfo): </strong>
                                    @Html.DisplayFor(model => model.WorkInfo)
                                </td>
                                <td align="right">
                                    <strong>@Html.DisplayNameFor(model => model.CreatedDate): </strong>
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(model => model.Location): </strong>
                                    @Html.DisplayFor(model => model.Location)
                                </td>
                                <td align="center">
                                    <strong>@Html.DisplayNameFor(model => model.MusterPoint): </strong>
                                    @Html.DisplayFor(model => model.MusterPoint)
                                </td>
                                <td align="right">
                                    <strong>@Html.DisplayNameFor(model => model.PermitJobNumber): </strong>
                                    @Html.DisplayFor(model => model.PermitJobNumber)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <strong>@Html.DisplayNameFor(model => model.PPEInspected): </strong>
                                    @Html.DisplayFor(model => model.PPEInspected)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Identify and Prioritize the tasks and hazards below,
                        then identify the plans to eliminate/control the hazards.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead style="display: table-row-group;">
                            <tr>
                                <th width="190" scope="col" align="center">Hazard</th>
                                <th width="70" scope="col" align="center">Severity</th>
                                <th width="70" scope="col" align="center">Probability</th>
                                <th width="100" scope="col" align="center">Priority</th>
                                <th scope="col" align="center">Plans to Eliminate/Control</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Hazards.Count; i++)
                            {
                                <tr>
                                    <td align="left">@Model.Hazards[i].Title <span> - </span> @Model.Hazards[i].Name</td>
                                    <td align="left">@Model.Hazards[i].Severity</td>
                                    <td align="left">@Model.Hazards[i].Probability</td>
                                    <td align="left">@Model.Hazards[i].Priority</td>
                                    <td align="left">@Model.Hazards[i].Plans</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <strong>@Html.DisplayNameFor(model => model.IsToolsEquipmentCompleted): </strong>
                                    @Html.DisplayFor(model => model.IsToolsEquipmentCompleted)
                                </td>
                                <td align="right">
                                    <strong>@Html.DisplayNameFor(model => model.IsWarningRibbonNeeded): </strong>
                                    @Html.DisplayFor(model => model.IsWarningRibbonNeeded)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <strong>@Html.DisplayNameFor(model => model.IsWorkerWorkingAlone): </strong>
                                            @Html.DisplayFor(model => model.IsWorkerWorkingAlone)
                                        </div>
                                        <div class="col-xs-7">
                                            <strong>@Html.DisplayNameFor(model => model.WorkerComment): </strong>
                                            @Html.DisplayFor(model => model.WorkerComment)
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Please print and sign below (All members of the crew) prior to commencing work,
                        and initial when task is completed or at the end of the shift.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="100" scope="col" align="center">Workers Name (Print)</th>
                                <th width="100" scope="col" align="center">Signature</th>
                                <th width="100" scope="col" align="center">Initial</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="padding:0px;">
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9" style="border-top: 1px solid #000; text-align: center;">
                    <p>Foreperson's Name and Signature (Sign upon reviewing completed card)</p>
                </div>                
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <strong><small>Note: All names must be legible.</small></strong>
                </div>
            </div>
        </div>
    </div>
</div>