﻿@model DBI.Safety.Models.FLHAStep2Form

@{
    ViewData["Title"] = "Step 2";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row" style="margin-bottom:40px;">
    <div class="col-md-12">
        @if (!Model.IsLocationEnabled)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Please enable your location tracker.
            </div>
        }
        <form asp-action="Step2">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-6">
                    <label asp-for="Work" class="control-label"></label>
                    <input asp-for="Work" class="form-control" placeholder="Please enter work to be done" />
                    <span asp-validation-for="Work" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" placeholder="Please enter your task location" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="MusterPoint" class="control-label"></label>
                    <input asp-for="MusterPoint" class="form-control" placeholder="Please enter muster point" />
                    <span asp-validation-for="MusterPoint" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PermitJob" class="control-label"></label>
                    <input asp-for="PermitJob" class="form-control" placeholder="Please enter your permit job" />
                    <span asp-validation-for="PermitJob" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="PPEInspected" class="control-label"></label>
                    <input asp-for="PPEInspected" class="form-control" placeholder="Please enter PPE inspected" />
                    <span asp-validation-for="PPEInspected" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Identify and Prioritize the tasks and hazards below, then identify the plans to eliminate/control the hazards.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Severity
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                @foreach (var item in Model.SeverityInfo)
                                {
                                    <span>@item.Text</span> <small class="text-muted">@item.Description</small> <br />
                                }
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Probability
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                @foreach (var item in Model.ProbabilityInfo)
                                {
                                    <span>@item.Text</span><small class="text-muted">@item.Description</small> <br />
                                }
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var title in Model.HazardForms.Select(x => x.Title).Distinct())
            {
                <div class="caption">@title</div>

                @for (int i = 0; i < Model.HazardForms.Count; i++)
                {
                    @if (Model.HazardForms[i].Title == title)
                    {
                        <div class="card" style="border:1px solid #ccc; background-color: #fcfcfc; margin-top: 15px;
                        margin-bottom:15px; padding-left: 15px; padding-right: 15px;">
                            @Html.HiddenFor(x => x.HazardForms[i].HazardId)
                            <div class="row">
                                <div class="col-md-12" style="margin-top: -10px;">
                                    <h3>
                                        <small class="text-muted">@Model.HazardForms[i].Name</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(x => x.HazardForms[i].Severity)
                                    @Html.DropDownListFor(x => x.HazardForms[i].SelectedSeverity, new SelectList(Model.HazardForms[i].Severity, "Value", "Text"),
                                              htmlAttributes: new { @class = "form-control", id = "Severity" })
                                    @Html.ValidationMessageFor(x => x.HazardForms[i].SelectedSeverity, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(x => x.HazardForms[i].Probability)
                                    @Html.DropDownListFor(x => x.HazardForms[i].SelectedProbability, new SelectList(Model.HazardForms[i].Probability, "Value", "Text"),
                                              htmlAttributes: new { @class = "form-control", id = "Probability" })
                                    @Html.ValidationMessageFor(x => x.HazardForms[i].SelectedProbability, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="@Model.HazardForms[i].Priority" class="control-label"></label>
                                    <input asp-for="@Model.HazardForms[i].Priority" class="form-control" placeholder="Please enter your priority" />
                                    <span asp-validation-for="@Model.HazardForms[i].Priority" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="@Model.HazardForms[i].Plans" class="control-label"></label>
                                    <input asp-for="@Model.HazardForms[i].Plans" class="form-control" placeholder="Please enter your plans" />
                                    <span asp-validation-for="@Model.HazardForms[i].Plans" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="IsToolsAndEquipmentCompleted" class="control-label"></label>
                    <div class="btn-group-sm btn-group-sm" data-toggle="buttons">
                        @foreach (var yesOrNo in Model.YesOrNo)
                        {
                            <label for="@yesOrNo.IsSelected" class="btn btn-default">
                                @yesOrNo.Name
                                @Html.RadioButtonFor(m => m.IsToolsAndEquipmentCompleted, yesOrNo.IsSelected, new { id = yesOrNo.IsSelected })
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IsWarningRibbonNeeded" class="control-label"></label>
                    <div class="btn-group-sm btn-group-sm" data-toggle="buttons">
                        @foreach (var yesOrNo in Model.YesOrNo)
                        {
                            <label for="@yesOrNo.IsSelected" class="btn btn-default">
                                @yesOrNo.Name
                                @Html.RadioButtonFor(m => m.IsWarningRibbonNeeded, yesOrNo.IsSelected, new { id = yesOrNo.IsSelected })
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="IsWorkerWorkingAlone" class="control-label"></label>
                    <div class="btn-group-sm btn-group-sm" data-toggle="buttons">
                        @foreach (var yesOrNo in Model.YesOrNo)
                        {
                            <label for="@yesOrNo.IsSelected" class="btn btn-default">
                                @yesOrNo.Name
                                @Html.RadioButtonFor(m => m.IsWorkerWorkingAlone, yesOrNo.IsSelected,
                                              new { id = yesOrNo.IsSelected, onclick = "ShowHideDiv()" })
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Explain" class="control-label"></label>
                    <input asp-for="Explain" class="form-control" placeholder="Please explain" />
                    <span asp-validation-for="Explain" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
                    <input type="reset" value="Cancel" class="btn btn-default btn-block" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                    <input type="submit" value="Create New FLHA" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>