﻿@{
    ViewData["Title"] = "Safety Forms";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">

    </div>
</div>