﻿html, body {
    font-family: 'Roboto', sans-serif, 'Times New Roman';
    font-size: 15px;
}

body {    
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a, a:active, a:hover {
    color: #ae8310;
    text-decoration: none;
    cursor: pointer;
}

.page-title {
    font-family: 'Roboto Condensed', sans-serif, 'Times New Roman';
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 20px;
}

.page-sub-title {
    font-family: 'Roboto', sans-serif, 'Times New Roman';
    font-weight: 100;
    margin-top: -2px;
}

.caption {
    font-family: 'Roboto', sans-serif, 'Times New Roman';
    font-weight: 300;
    font-size: 18px;
    color: #666666;
}

.dropdown-menu > li > a:hover {
    background-color: #ae8310;
    color: #FFFFFF;
}

/*Error*/
.field-validation-error {
    background: #c51244 !important;
    padding: 7px !important;
    border-radius: 5px !important;
    position: relative;
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;
    color: #FFFFFF;
}

.field-validation-error:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c51244;
    position: absolute;
    top: -10px;
}

.control-label:after {
    color: #c51244 !important;
}

.input-validation-error {
    background: #fff0f4;
    color: #c51244;
    border: 1px solid #c51244 !important;
}

/*Footer*/
.footer {
    height: 40px;
    padding: 10px;
    background-color: #ededed;
    color: #7c7c7c;
}

/*Button*/
.btn-primary {
    background-color: #ae8310 !important;
    border-color: #ae8310 !important;
    color: #FFFFFF !important;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #FFFFFF !important;
    border-color: #ae8310 !important;
    color: #ae8310 !important;
}

/*Checkbox*/
.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #ae8310;
    border-color: #ae8310;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #FFFFFF;
}