﻿@model DBI.Safety.Models.AddCategoryForm

@{
    ViewData["Title"] = "Admin";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedFormId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedFormId, new SelectList(Model.FormList, "Value", "Text"),
                               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedFormId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Please enter name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" aria-describedby="descriptionHelp" class="form-control" placeholder="Please enter description" />
                <small id="descriptionHelp" class="form-text text-muted">Description can be used as the group category</small><br />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortOrderId" class="control-label"></label>
                <input asp-for="SortOrderId" class="form-control" placeholder="Please enter sort order id" min="0" />
                <span asp-validation-for="SortOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

