﻿@model DBI.Safety.Models.SOCForm

@{
    ViewData["Title"] = "Safety Observation Card";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<style>
    .btn-success {
        background-color: #FFFFFF !important;
        border-color: #5cb85c !important;
        color: #5cb85c !important;
    }
    .btn-success:focus, .btn-success:active, .btn-success.active {
        background-color: #5cb85c !important;
        border-color: #5cb85c !important;
        color: #FFFFFF !important;
    }

    .btn-danger {
        background-color: #FFFFFF !important;
        border-color: #d9534f !important;
        color: #d9534f !important;
    }
    .btn-danger:focus, .btn-danger:active, .btn-danger.active {
        background-color: #d9534f !important;
        border-color: #d9534f !important;
        color: #FFFFFF !important;
    }

    .revert:focus, .revert:active, .revert.active {
        background-color: #6c757d !important;
        color: #FFFFFF !important;
    }
</style>

<div class="row" style="margin-bottom:40px;">
    <div class="col-md-12">
        @{ List<string> errors = new List<string>{ }; }
        @if (!Model.IsQuestionSelected)
        {
            errors.Add("Please select all the observation.");
        }    
        
        @if (!Model.IsLocationEnabled)
        {
            errors.Add("Please enable your location tracker.");
        }

        @if(errors.Count > 0)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error</strong>
                <ul>
                    @foreach (var item in errors)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        }
        
        <form asp-action="Index">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>                
                    @foreach (var category in Model.Questions.Select(x => x.Category).Distinct())
                    {
                        <div class="col-md-4">
                        <table class="table table-responsive-sm">
                                <caption class="caption">@Html.DisplayName(category)</caption>
                            <thead>
                                <tr>
                                    <th width="150" scope="col">Observation</th>
                                    <th scope="col">@Html.DisplayName("Description")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Questions.Count; i++)
                                {
                                    @if (Model.Questions[i].Category == category)
                                    {
                                        <tr>
                                            <td>
                                                <div class="btn-group-xs btn-group-sm" data-toggle="buttons">
                                                    @Html.HiddenFor(m => m.Questions[i].Id)
                                                    @foreach (var answer in Model.Questions[i].PossibleAnswers)
                                                    {
                                                        @if (answer.Text == "Safe")
                                                        {                                                            
                                                            @if(Model.Questions[i].SelectedAnswer == 67)
                                                            { 
                                                                <label for="@answer.Id" class="btn btn-success active">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label for="@answer.Id" class="btn btn-success">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }                                                            
                                                        }
                                                        else if (answer.Text == "At Risk")
                                                        {
                                                            @if(Model.Questions[i].SelectedAnswer == 68)
                                                            { 
                                                                <label for="@answer.Id" class="btn btn-danger active">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label for="@answer.Id" class="btn btn-danger">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @if(Model.Questions[i].SelectedAnswer == 69)
                                                            { 
                                                                <label for="@answer.Id" class="btn btn-default revert active">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label for="@answer.Id" class="btn btn-default revert">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                        }
                                                    }                                                    
                                                    @Html.ValidationMessageFor(m => m.Questions[i].SelectedAnswer)
                                                </div>
                                            </td>
                                            <td>@Html.DisplayName(Model.Questions[i].Name)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        </div>
                    }                
            </div>
            <div class="row">                
                <div class="form-group col-md-6">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" placeholder="Please enter your comments" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" placeholder="Please enter your location" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Observer" class="control-label"></label>
                    <input asp-for="Observer" class="form-control" placeholder="Please enter your observer" />
                    <span asp-validation-for="Observer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Task" class="control-label"></label>
                    <input asp-for="Task" class="form-control" placeholder="Please enter your task/activity" />
                    <span asp-validation-for="Task" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="control-label">Observer Title</label>
                    <div class="btn-group-sm btn-group-sm" data-toggle="buttons">
                        @foreach (var observerType in Model.ObserverType)
                        {
                            <label for="@observerType.Id" class="btn btn-default">
                                @observerType.Name
                                @Html.RadioButtonFor(m => m.SelectedObserverType, observerType.Id, new { id = observerType.Id })
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
                    <input type="reset" value="Cancel" class="btn btn-default btn-block" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                    <input type="submit" value="Create New SOC" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>