﻿@model DBI.Safety.Models.SOCViewModel

@{
    ViewData["Title"] = "Safety observation card";
}

<style>
    .success-label {
        padding: 5px;
        border-radius: 3px;
        color: #FFFFFF;
        width: 75px;
        height: 28px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        background-color: #5cb85c !important;
    }

    .danger-label {
        padding: 5px;
        border-radius: 3px;
        color: #FFFFFF;
        width: 75px;
        height: 28px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        background-color: #d9534f !important;
    }

    .default-label {
        padding: 5px;
        border-radius: 3px;
        color: #FFFFFF;
        width: 75px;
        height: 28px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        background-color: #6c757d !important;
    }

    #logo {
        width: 100px;
        height: 50px;
        background: url('../../wwwroot/images/logo.jpg');
    }
</style>

<div class="container hidden-print">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
                    <h3 class="page-sub-title">@ViewData["Message"]</h3>
                </div>
            </div>
            <div class="row">
                @foreach (var category in Model.Questions.Select(x => x.Category).Distinct())
                {
                    <div class="col-md-4">
                        <table class="table table-responsive-sm">
                            <caption class="caption">@Html.DisplayName(category)</caption>
                            <thead>
                                <tr>
                                    <th width="145" scope="col">Observation</th>
                                    <th scope="col">@Html.DisplayName("Description")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Questions.Count; i++)
                                {
                                    @if (Model.Questions[i].Category == category)
                                    {
                                        <tr>
                                            <td>
                                                @if (Model.Questions[i].SelectedAnswer.TrimEnd() == "Safe")
                                                {
                                                    <label class="success-label">
                                                        @Model.Questions[i].SelectedAnswer.TrimEnd()
                                                    </label>
                                                }
                                                else if (Model.Questions[i].SelectedAnswer.TrimEnd() == "At Risk")
                                                {
                                                    <label for="@Model.Questions[i].SelectedAnswer" class="danger-label">
                                                        @Model.Questions[i].SelectedAnswer.TrimEnd()
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label for="Model.Questions[i].SelectedAnswer" class="default-label">
                                                        @Model.Questions[i].SelectedAnswer.TrimEnd()
                                                    </label>
                                                }
                                            </td>
                                            <td>@Html.DisplayName(Model.Questions[i].Name)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Comments)</strong><br />
                    @Html.DisplayFor(model => model.Comments)
                </div>
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Location)</strong><br />
                    @Html.DisplayFor(model => model.Location)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Observer)</strong><br />
                    @Html.DisplayFor(model => model.Observer)
                </div>
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Task)</strong><br />
                    @Html.DisplayFor(model => model.Task)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.ObservedBy)</strong><br />
                    @Html.DisplayFor(model => model.ObservedBy)
                </div>
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.CreatedBy)</strong><br />
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.CreatedDate)</strong><br />
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
                <div class="form-group col-md-6">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <a asp-action="History">Back to List</a>
        </div>
    </div>
</div>

@* Printer friendly page *@
<div class="container visible-print-block">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-4">
                    <img width="114" height="71" src="~/images/logo.jpg" />
                </div>
                <div class="col-xs-8" style="text-align: right;"><h1>@ViewData["Title"]</h1></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        @foreach (var category in Model.Questions.Select(x => x.Category).Distinct())
                        {
                            <thead style="display: table-row-group;">
                                <tr>
                                    <th width="70" scope="col" align="center">Safe</th>
                                    <th width="70" scope="col" align="center">At Risk</th>
                                    <th width="70" scope="col" align="center">N/A</th>
                                    <th scope="col">@Html.DisplayName(category)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Questions.Count; i++)
                                {
                                    @if (Model.Questions[i].Category == category)
                                    {
                                        <tr>
                                            @if (Model.Questions[i].SelectedAnswer.TrimEnd() == "Safe")
                                            {
                                                <td width="70" align="center">&#10003;</td>
                                                <td width="70" align="center"></td>
                                                <td width="70" align="center"></td>
                                                <td>@Html.DisplayName(Model.Questions[i].Name)</td>
                                            }
                                            else if (Model.Questions[i].SelectedAnswer.TrimEnd() == "At Risk")
                                            {
                                                <td width="70" align="center"></td>
                                                <td width="70" align="center">&#10003;</td>
                                                <td width="70" align="center"></td>
                                                <td>@Html.DisplayName(Model.Questions[i].Name)</td>
                                            }
                                            else
                                            {
                                                <td width="70" align="center"></td>
                                                <td width="70" align="center"></td>
                                                <td width="70" align="center">&#10003;</td>
                                                <td>@Html.DisplayName(Model.Questions[i].Name)</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        }
                    </table>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <strong>@Html.DisplayNameFor(model => model.Comments): </strong>
                                    @Html.DisplayFor(model => model.Comments)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <strong>@Html.DisplayNameFor(model => model.Location): </strong>
                                    @Html.DisplayFor(model => model.Location)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <strong>@Html.DisplayNameFor(model => model.Observer): </strong>
                                    @Html.DisplayFor(model => model.Observer)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <strong>@Html.DisplayNameFor(model => model.CreatedDate): </strong>
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <strong>@Html.DisplayNameFor(model => model.Task): </strong>
                                    @Html.DisplayFor(model => model.Task)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <strong>@Html.DisplayNameFor(model => model.ObservedBy): </strong>
                                    @Html.DisplayFor(model => model.ObservedBy)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>